---
import { symbol } from 'astro:schema';
import v2Logo from '../../assets/images/v2-logo-light.svg';
import SolidButton from '../../components/actions/buttons/SolidButton.astro';
import TableCell, { Symbol } from '../../components/comparison-table/TableCell.astro';

const comparisonOptions = [
  {
    name: 'Plaintext Markdown Editors',
  },
  {
    name: 'v2',
    logo: v2Logo,
  },
  {
    name: 'Traditional Word Processors',
  },
  // {
  //   name: 'Cloud-Based Editors',
  // },
];

const versioning = {
    name: "Versioning",
    features: [
      {
        name: "Save Version History",
        competences: [
          {
            text: "External tooling needed (e.g. Git)",
          },
          {
            symbol: Symbol.CHECK,
            text: "Built-in",
          },
          {
            symbol: Symbol.CHECK,
          },
        ],
      },
      {
        name: "Go Back to Previous Versions",
        competences: [
          {
            text: "External tooling needed (e.g. Git)",
          },
          {
            symbol: Symbol.CHECK,
            text: "Built-in",
          },
          {
            symbol: Symbol.CHECK,
          },
        ],
      },
      {
        name: "Compare Versions",
        competences: [
          {
            text: "Git only; plaintext diff",
          },
          {
            symbol: Symbol.CHECK,
            text: "Formatting-aware diffing",
          },
          {
            text: "Limited: Track Changes"
          },
        ],
      },
      {
        name: "Create Alternate Versions (Branching)",
        competences: [
          {
            text: "~ External tooling needed (e.g. Git)",
          },
          {
            symbol: Symbol.CHECK,
            text: "Built-in",
          },
          {
            symbol: Symbol.CROSS
          },
        ],
      }
    ]
};

const collaboration = {
    name: "Collaboration",
    features: [
      {
        name: "Async Collaboration",
        competences: [
          {
            text: "Git/GitHub setup required",
          },
          {
            text: "⚡ Coming Soon: Sophisticated review workflows (GitHub-like)",
          },
          {
            text: "Limited: comments + email"
          },
        ],
      },
      {
        name: "Real-Time Collaboration",
        competences: [
          {
            symbol: Symbol.CROSS,
          },
          {
            text: "⚡ Coming Soon: optional, on-demand, no servers",
          },
          {
            text: "~ Requires pairing with cloud services"
          },
        ],
      },
    ]
};

const interoperability = {
    name: "Interoperability",
    features: [
      {
        name: "Portable Files",
        competences: [
          {
            symbol: Symbol.CHECK,
            text: "Markdown"
          },
          {
            symbol: Symbol.CHECK,
            text: "Markdown + Git folder"
          },
          {
            text: "DOCX-centric, semantic loss"
          },
        ],
      },
      {
        name: "Export to Other Formats",
        competences: [
          {
            text: "Limited: DOCX, PDF"
          },
          {
            symbol: Symbol.CHECK,
            text: "Pandoc: DOCX, HTML, Markdown, LaTeX, more"
          },
          {
            text: "Limited: DOCX, PDF"
          },
        ],
      }
    ]
};

const privacyAndOwnership = {
    name: "Privacy & Ownership",
    features: [
      {
        name: "Who Owns the Files",
        competences: [
          {
            text: "🔒 You"
          },
          {
            text: "🔒 You"
          },
          {
            text: "🔒 You"
          }, 
        ],
      },
      {
        name: "Cloud Sync Privacy",
        competences: [
          {
            text: "☁️ Vendor-controlled, not private"
          }, 
          {
            text: "⚡ Coming Soon: 🔒 Encrypted sync"
          }, 
          {
            text: "☁️ Vendor-controlled, not private"
          }, 
        ],
      },
      {
        name: "Works Offline",
        competences: [
          {
            symbol: Symbol.CHECK,
            text: "Fully offline"
          },
          {
            symbol: Symbol.CHECK,
            text: "Fully offline"
          },
          {
            symbol: Symbol.CHECK,
            text: "Fully offline"
          },
        ],
      }
    ]
};

const comparisonGroups = {
  versioning,
  collaboration,
  interoperability,
  privacyAndOwnership
}

const pickFeatures = (optionIndex: number) => {
  return Object.values(comparisonGroups).flatMap(group => 
    group.features.map(feature => {
      return feature.competences[optionIndex].symbol === Symbol.CHECK ? feature.name : null;
    }).filter(s => s !== null)
  );
}

---
<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <p class="mt-2 text-balance text-5xl font-semibold tracking-tight text-gray-900 sm:text-6xl font-serif">How is v2 Different</p>
    </div>
    <p class="mx-auto mt-6 max-w-2xl text-pretty text-center text-lg font-medium text-gray-600 sm:text-xl/8">
      v2 gives you the collaboration capabilities of cloud-based editors (<i>and more</i>) without sacrificing data ownership
    </p>

    <!-- xs to lg -->
    <div class="mx-auto mt-12 max-w-md space-y-8 sm:mt-16 lg:hidden">
      {
        comparisonOptions.map((option, i) => (
          <section class={i === 1 ? 'rounded-3xl bg-gray-50 p-8 ring-1 ring-inset ring-gray-900/10' : 'p-8'}>
            <h3 id="tier-starter" class="text-sm/6 font-semibold text-gray-900">{option.name}</h3>
            {i === 1 && (
              <a href="#" aria-describedby="tier-starter" class="mt-8 block rounded-md px-3 py-2 text-center text-sm/6 font-semibold text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Download</a>
            )}
            <ul role="list" class="mt-10 space-y-4 text-sm/6 text-gray-900">
              <li>
                <ul role="list" class="space-y-4">
                  {
                    pickFeatures(i).map((feature) => (
                      <li class="flex gap-x-3">
                        <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="h-6 w-5 flex-none text-indigo-600">
                          <path d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" fill-rule="evenodd" />
                        </svg>
                        <span>{feature}</span>
                      </li>
                    ))
                  }
                </ul>
              </li>
            </ul>
          </section>
        ))
      }
    </div>

    <!-- lg+ -->
    <div class="isolate mt-20 hidden lg:block">
      <div class="relative -mx-8">
        <div class="absolute inset-x-4 inset-y-0 -z-10 flex">
          <div style="margin-left: 50%" aria-hidden="true" class="flex w-1/4 px-4">
            <div class="w-full rounded-t-xl border-x border-t border-gray-900/10 bg-gray-400/5"></div>
          </div>
        </div>
        <table class="w-full table-fixed border-separate border-spacing-x-8 text-left">
          <caption class="sr-only">
            Rich-text editing software feature comparison table
          </caption>
          <colgroup>
            <col class="w-1/4" />
            <col class="w-1/4" />
            <col class="w-1/4" />
            <col class="w-1/4" />
          </colgroup>
          <thead>
            <tr>
              <td></td>
              {
                comparisonOptions.map((option) => (
                  <th scope="col" class="px-6 pt-6 xl:px-8 xl:pt-8">
                    <div class="text-sm/7 font-semibold text-gray-900">{option.name}</div>
                  </th>
                ))
              }
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><span class="sr-only">Price</span></th>
              <td class="hidden px-6 pt-2 xl:px-8">
                <a href="#" class="hidden mt-8 block rounded-md px-3 py-2 text-center text-sm/6 font-semibold text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Buy plan</a>
              </td>
              <td class="hidden px-6 pt-2 xl:px-8">
                <a href="#" class="mt-8 block w-full">
                  <SolidButton
                    text="Get it!"
                    size="lg"
                    classes="w-full"
                  />
                </a>
              </td>
              <td class="hidden px-6 pt-2 xl:px-8">
                <a href="#" class="hidden mt-8 block rounded-md px-3 py-2 text-center text-sm/6 font-semibold text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Buy plan</a>
              </td>
            </tr>
             {
              Object. values(comparisonGroups).map((group) => (
                <Fragment>
                <tr>
                  <th scope="colgroup" colspan="4" class="pb-4 pt-8 text-sm/6 font-semibold text-gray-900">
                    {group.name}
                    <div class="absolute inset-x-8 mt-4 h-px bg-gray-900/10"></div>
                  </th>
                </tr>
                {
                  group.features.map(({ name, competences }) => (
                    <tr>
                      <th scope="row" class="py-4 text-sm/6 font-normal text-gray-900">
                        {name}
                        <div class="absolute inset-x-8 mt-4 h-px bg-gray-900/5"></div>
                      </th>
                      {
                        competences.map(({ symbol, text }) => (
                          <TableCell symbol={symbol} text={text} />
                        ))
                      }
                    </tr>
                  ))
                }
                </Fragment>
              ))
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

